.login{
    background: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card{
    max-width: 320px;
    width: 100%;
    background: var(--color11);
    padding: 20px;
    border-radius: 20px;
}

.card button{
    margin-bottom: 0;
}